html { height: 100%; margin: 0px; padding: 0px;}
body { height: 100%; margin: 0px; padding: 0px; font-family: Roboto-Regular, verdana; background: #fafafa; font-size: 14px; color: #333; text-align: center;}

h1, h2, h3, h4, h5, h6, p { margin: 0px; font-weight: normal;}

#background_canvas { display: block; position: absolute; z-index: -1;}

#main_header { display: block; max-width: 1024px; margin: auto;}
	#main_header h1 { display: block; height: 128px; line-height: 128px; font-size: 112px;}
	#main_header h2 { display: block; height: 32px; line-height: 32px; font-size: 24px;}

#main_div { display: block; max-width: 1024px; margin: 128px auto 0px auto;}
	#size_span { display: block; width: 40px; height: 40px; line-height: 40px; margin: auto; font-size: 32px;}
	#main_div input[type=range] { display: block; width: 300px; margin: 24px auto 0px auto;}
	#main_div a { display: block; width: 200px; height: 42px; line-height: 42px; margin: 42px auto 0px auto; background: #f44336; color: #fff; font-size: 15px; text-decoration: none;}